# All HA files apart from configure.yml
config/*
!config/configuration.yml
!config/mqtt-io
!config/custom_templates

# Mosquitto
mosquitto/config/mqttuser
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log
