# All HA files apart from configure.yml
config/*
!config/configuration.yml
!config/automations.yml
!config/scripts.yml
!config/mqtt.yml
!config/mqtt-io
!config/custom_templates
!config/custom_components

# Mosquitto
!mosquitto/config/mqttuser
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log
